.container {
  width: 80vw; /* Adjust as needed */
}

.navbar {
  width: 100vw;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn.btn-primary {
  width: calc(20% - 10px); /* Adjust button width to desired percentage with margins in mind */
  margin: 5px;
}
.navbar {
  z-index: 1000; /* or any value higher than the accordion */
}
.accordion {
  z-index: 900; /* or any value lower than the navbar */
}

@media screen and (max-width: 590px) {
  .container {
    width: 100vw; /* Adjust as needed */
  }
  
  .btn-group {
    flex-direction: column;
    align-items: center;
  }
  
  .btn.btn-primary {
    width: 100%; /* Adjust button width to fill container */
    margin: 5px 0; /* Add space between buttons */
  }
}
